{% if content.hasField('image') and not content.fields.image.empty %}
    {% set image_alias = ng_image_alias(content.fields.image, 'nglayouts_app_preview') %}

    {% if image_alias %}
        <div class="image">
            <img src="{{ asset(image_alias.uri) }}" />
        </div>
    {% endif %}
{% endif %}

<div class="name">
    <p><a href="{{ nglayouts_item_path(nglayouts_item) }}" target="_blank" rel="noopener noreferrer">{{ content.name }}</a></p>
</div>

<div class="value-type">
    <p>{{ nglayouts_value_type_name(nglayouts_item) }} ({{ content.innerContent.contentType.name }})</p>
</div>
