{% if content.hasField('image') and not content.fields.image.empty %}
    <div class="image">
        {{ ng_render_field(
            content.fields.image, {
                'parameters': {
                    'alias': 'nglayouts_app_preview',
                }
            }
        ) }}
    </div>
{% endif %}

<div class="name">
    <p><a href="{{ nglayouts_item_path(nglayouts_item) }}" target="_blank" rel="noopener noreferrer">{{ content.name }}</a></p>
</div>

<div class="value-type">
    <p>{{ nglayouts_value_type_name(nglayouts_item) }} ({{ content.innerContent.contentType.name }})</p>
</div>
